<%- contentFor('HeaderCss') %>
<!--Chartist Chart CSS -->
<link rel="stylesheet" href="public/libs/chartist/chartist.min.css" />
<!--Echart  -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.8.0/echarts-en.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<!--Datatables  -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />

<!-- perticular page css -->

<%- contentFor('title') %>  
<title>Hoa Than Son</title>

<%- contentFor('breadcrumb') %>
<div class="col-sm-6">
    <div class="page-title-box">
        <h4 class="font-size-18">Market Information</h4>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active">Welcome to HTS Market Information</li>
        </ol>
    </div>
</div>

<%- contentFor('body') %>


<div class="row" id="tables">
    <div class="col-12 ">
        <table border="0" cellspacing="5" cellpadding="5">
            <tbody><tr>
                <td>Minimum ATV(5):</td>
                <td><input type="text" id="min" name="min"></td>

                <td>Maximum ATV(5):</td>
                <td><input type="text" id="max" name="max"></td>
            </tr>
            <tr></tr>
        </tbody></table>        
        <table class="table table-bordered table-sm mb-0 text-center table-striped" id="example" style="width:100%">
            <thead>
                                  <th>Date</th>
                                  <th>Ticker</th>
                                  <th>ATV(5)</th>
                                  <th>LSignal</th>
                                  <th>From</th>
                                  <th>Entry</th>
                                  <th>TSL</th>
                                  <th>GAP</th>                                  
                                  <th>C%</th>
                                  <th>V%</th>
                                  <th>Candlea</th>
                                  <th>Candle</th>

                                  <th>Patterna</th>
                                  <th>Pattern</th>                                  
                                  <th>wCandlea</th>
                                  <th>wCandle</th>

                                  <th>wPatterna</th>
                                  <th>wPattern</th>
                                  <th>SSignal</th>
                                  <th>From</th>
                                  <th>Entry</th>
                                  <th>TSL</th>
                                  <th>P/L</th>
            </thead>
                   
            <tbody></tbody>
        </table>
    </div>
</div>
<script>
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        let min = parseInt( $('#min').val(), 10 );
        let max = parseInt( $('#max').val(), 10 );
        let ATV5 = parseFloat( data[2] ) || 0; // use data for the age column
 
        if ( ( isNaN( min ) && isNaN( max ) ) ||
             ( isNaN( min ) && ATV5 <= max ) ||
             ( min <= ATV5   && isNaN( max ) ) ||
             ( min <= ATV5   && ATV5 <= max ) )
        {
            return true;
        }
        return false;
    }
);     
      let data1 = <%- JSON.stringify(result || null) %>;
let table = $("#example").DataTable({
  processing: true,
  serverSide: false,
  autoWidth: true,
  lengthChange: false,
  pageLength: 20,
  order: [[ 4, "asc" ]],

  dom: 'B<"clear">lfrtip',
  buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],  
  data: data1,
    columns: [
    { data: 'DATE' },
    { data: 'TICKER' ,render: function(data) {return '<a href="/summary?ticker='+data+'" target="_blank">'+data+'</a>'; }},
    { data: 'CV5' , render: function ( data ) { return (data/10).toFixed(2);} },                

    { data: 'STATUS' ,
        render: function(data) {
                         switch (data) {
                            case 'LONG':
                            return '<span class="badge badge-success"> LONG </span>' ;
                                break;
                            case 'SHORT':
                            return '<span class="badge badge-danger">SHORT</span>' ;
                                break;
                            case 'HOLDL':
                            return '<span class="badge badge-warning">HOLD</span> <span class="badge badge-success"> L </span>' ;
                                break;
                            case 'HOLDS':
                            return '<span class="badge badge-warning">HOLD</span> <span class="badge badge-danger"> S </span>' ;
                                break;
                    
                        }

                }
        },    
    { data: 'SFROM' , render: function ( data ) { return (data/24).toFixed(0);} },
    { data: 'ENTRY' , render: function (data){ return (+data/100).toFixed(2);}},
   
    { data: 'TSL' , render: function (data){ return (+data/100).toFixed(2);} },
    { data: 'gap' , render: function ( data, type, row ){ return (+data/row.TSL*100).toFixed(2)+'%';} },    
    { data: 'ROC1' , render: function (data){  
        if (+data>0) {return '<p class="mb-0 text-success">'+(+data/100).toFixed(2)+'%</p>';} else {return '<p class="mb-0 text-danger">'+(+data/100).toFixed(2)+'%</p>'} } },                 
    { data: 'ROCV1' , render: function (data){ return (+data/100).toFixed(2)+'%';}},
    { data: 'CANDLE' },
    { data: 'CDRANK' },
    { data: 'PATTERN' },
    { data: 'PDIRECTION' },
    { data: 'wCANDLE' },
    { data: 'wCDRANK' },
    { data: 'wPATTERN' },
    { data: 'wPD' },  
    
    { data: '_signal' ,
        render: function(data) {
                         switch (data) {
                            case 'LONG':
                            return '<span class="badge badge-success"> LONG </span>' ;
                                break;
                            case 'SHORT':
                            return '<span class="badge badge-danger">SHORT</span>' ;
                                break;
                            case 'HOLDL':
                            return '<span class="badge badge-warning">HOLD</span> <span class="badge badge-success"> L </span>' ;
                                break;
                            case 'HOLDS':
                            return '<span class="badge badge-warning">HOLD</span> <span class="badge badge-danger"> S </span>' ;
                                break;
                    
                        }

                }
        },
    { data: 'daynum' },
    { data: 'iENTRY' , render: function (data){ return (+data/100).toFixed(2);}},
 
    { data: 'iTSL' , render: function (data){ return (+data/100).toFixed(2);} },
    { data: 'pp_l' , render: function (data){ return (+data).toFixed(2)+'%';} },
    ],
    
    columnDefs: [
      {
        "render": function ( data, type, row ) {

            if (+data>0) {return '<p class="mb-0 text-success data-toggle="tooltip" data-placement="top" title="'+row.CANDLE+'">'+(+data)+'</p>';}
            else if (+data<0){return '<p class="mb-0 text-danger data-toggle="tooltip" data-placement="top" title="'+row.CANDLE+'">'+(+data)+'</p>'} 
                else if (+data==0&&!!row.CANDLE) {return '<p class="mb-0 text-warning">'+data+'</p>'} 
                    else  {return '<p class="mb-0 text-warning"></p>'}     
        },
        "targets": [11]
        },      
      {
        "targets":  [10] ,
         "visible": false,
        },
        {
        "render": function ( data, type, row ) {
            if (+data>0) {return '<p class="mb-0 text-success data-toggle="tooltip" data-placement="top" title="'+row.PATTERN+'">'+(+data)+'</p>';}
            else if (+data<0){return '<p class="mb-0 text-danger data-toggle="tooltip" data-placement="top" title="'+row.PATTERN+'">'+(+data)+'</p>'} 
                else if (+data==0&&!!row.PATTERN) {return '<p class="mb-0 text-warning data-toggle="tooltip" data-placement="top" title="'+row.PATTERN+'">'+(+data)+'</p>'} 
                    else  {return '<p class="mb-0 text-warning"></p>'}     
        },
        "targets": [13]
        },      
      {
        "targets":  [12] ,
        "visible": false,
        },
        {
        "render": function ( data, type, row ) {
            if (+data>0) {return '<p class="mb-0 text-success data-toggle="tooltip" data-placement="top" title="'+row.wCANDLE+'">'+(+data)+'</p>';}
            else if (+data<0){return '<p class="mb-0 text-danger data-toggle="tooltip" data-placement="top" title="'+row.wCANDLE+'">'+(+data)+'</p>'} 
                else if (+data==0&&!!row.wCANDLE) {return '<p class="mb-0 text-warning data-toggle="tooltip" data-placement="top" title="'+row.wCANDLE+'">'+(+data)+'</p>'} 
                    else  {return '<p class="mb-0 text-warning"></p>'}  
        },
        "targets": [15]
        },      
      {
        "targets":  [14] ,
        "visible": false,
        },
        {
        "render": function ( data, type, row ) {
        if (+data>0) {return '<p class="mb-0 text-success data-toggle="tooltip" data-placement="top" title="'+row.wPATTERN+'">'+(+data)+'</p>';}
            else if (+data<0){return '<p class="mb-0 text-danger data-toggle="tooltip" data-placement="top" title="'+row.wPATTERN+'">'+(+data)+'</p>'} 
                else if (+data==0&&!!row.wPATTERN) {return '<p class="mb-0 text-warning data-toggle="tooltip" data-placement="top" title="'+row.wPATTERN+'">'+(+data)+'</p>'} 
                    else  {return '<p class="mb-0 text-warning"></p>'}
        },
        "targets": [17]
        },      
      {
        "targets":  [16] ,
        "visible": false,
      }
        ]  
});

$('#min, #max').keyup( function() {
        table.draw();
    } );
</script>     
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    
<!-- end row -->

<%- contentFor('FooterJs') %>
    <!-- Peity chart-->
    <script src="public/libs/peity/jquery.peity.min.js"></script>

    <!-- Plugin Js-->
    <script src="public/libs/chartist/chartist.min.js"></script>
    <script src="public/libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js"></script>

    <!--script src="public/js/pages/dashboard.init.js"></script-->
    <script src="public/htson/market.init.js"></script>

 <%- contentFor('BottomJs') %>
 <!-- nothing -->




