<%- contentFor('HeaderCss') %>
<!--Chartist Chart CSS -->
<link rel="stylesheet" href="public/libs/chartist/chartist.min.css" />
<!--Echart  -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.8.0/echarts-en.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<!--Datatables  -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>

<!-- perticular page css -->

<%- contentFor('title') %>  
<title>Hoa Than Son</title>

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>
<div class="row">
  <div class="col-lg-12" id="price-chart">
    <div class="card">
      <div class="card-body">
        <div id="refresh">
            <div id="price-daily" style="height:480px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  let myChart1 = echarts.init(document.getElementById('price-daily'));
  let option = <%- JSON.stringify(result || null) %>;
  
  myChart1.setOption(option, true);
  
  function fetchdata(){
    $.get(<%- JSON.stringify(ourl || null) %>, function(data, status){
    let myChart1 = echarts.init(document.getElementById('price-daily'));
    myChart1.setOption(data.result, true);
    });
  }

$(document).ready(function(){
 setInterval(function(){
  fetchdata();
} ,30000);
});


</script>     
<!-- Collapse -->


<!-- end row -->


<%- contentFor('FooterJs') %>
<!-- Peity chart-->
<script src="public/libs/peity/jquery.peity.min.js"></script>

<!-- Plugin Js-->
<script src="public/libs/chartist/chartist.min.js"></script>
<script src="public/libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js"></script>

<!--script src="public/js/pages/dashboard.init.js"></script-->
<script src="public/htson/summary.init.js"></script>

<%- contentFor('BottomJs') %>
<!-- nothing -->
