<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <%- title %> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="VN stock market information"
      name="description"
    />
    <!--meta content="Themesbrand" name="author" /-->
    <link rel="shortcut icon" href="public/images/htson.ico" />
    
    <meta property="og:description" content="VN stock market information"/>
    
    <meta property="og:image" content="http://www.hoathanson.com/public/images/htson-lg.png"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="560" />
    
    <meta property="og:url" content="http://www.hoathanson.com"/>
    <meta property="og:site_name" content="Hoa Than Son"/>
    <meta property="og:type" content="website"/>
    
    <%- HeaderCss %> 
    <% include ../partials/HeaderStyle %>
  </head>
  <body data-topbar="dark" data-layout="horizontal">
    <div id="layout-wrapper">
      <% include ../partials/Horizontal/Header %> 
      <% include ../partials/Horizontal/TopNavigation %>

      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">
                <%- breadcrumb %>
            
            <%- body %>
          </div>
        </div>
        <% include ../partials/Footer %>
      </div>
    </div>
    <% include ../partials/Rightbar %> 
    <% include ../partials/FooterScript %> 
    <%- FooterJs %>
    <!-- App js -->
    <script src="public/js/app.js"></script>
    <%- BottomJs %>
  </body>
</html>
