<%- contentFor('title') %>  
<title>Hoa Than Son</title>
<%- contentFor('content') %>


<div class="account-pages my-5 pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-primary">
            <div class="text-primary text-center p-4">
              <h5 class="text-white font-20 m-b-5">Free Register</h5>
              <p class="text-white-50 mb-4">Get your free HTS account now.</p>
              <a href="index" class="logo logo-admin">
                <img src="public/images/htson-sm.png" height="24" alt="logo">
              </a>
            </div>
          </div>

          <div class="card-body p-4">
            <div class="p-3">
              <form class="form-horizontal mt-4" action="/register" method="POST" id="registerForm" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="lastName">First name<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Nhập họ và tên đệm" required>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="firstName">Last name<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Nhập tên" required>
                    </div>
                  </div>
                </div>                
                <div class="form-group">
                  <label for="email">Email<span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Nhập địa chỉ email" required>
                </div>

                <div class="form-group">
                  <label for="username">Username<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Nhập tên tài khoản" required>
                </div>

                <div class="form-group">
                  <label for="password">Password<span class="text-danger">*</span></label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu" required>
                </div>

                <div class="text-danger">
                  <ul id="reg-errors"></ul>
                </div>

                <div class="form-group row">
                  <div class="col-12 text-right">
                    <button class="btn btn-primary w-md waves-effect waves-light" type="button" id="registerBtn">Register</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <p>Already have an account ? <a href="login" class="font-500 text-primary"> Login </a> </p>
            <p>© <%= new Date().getFullYear(); %> Stock Info - Crafted with <i class="mdi mdi-heart text-danger"></i> by
              HTS.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  © <%= new Date().getFullYear(); %> Stock Info <span
    class="d-none d-sm-inline-block"
  >
    - Crafted with <i class="mdi mdi-heart text-danger"></i> by
    HTS.</span
  >
</div>
<%- contentFor('scripts') %>
<script>
  $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
        let re = new RegExp(regexp);
        return this.optional(element) || (re.test(value) && value.trim() !== "");
    },
    "Không đúng định dạng"
  );
  let validator = $("#registerForm").validate({
    rules: {
      firstName: {
        required: true,
        maxlength: 50,
        regex: "^[A-Za-zÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ ]+$"
      },
      lastName: {
        required: true,
        maxlength: 20,
        regex: "^[A-Za-zÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ ]+$"
      },
      email: {
        required: true,
        email: true
      },
      username: {
        required: true,
        minlength: 5,
        maxlength: 16,
        regex: "^[a-z0-9]+$"
      },
      password: {
        required: true,
        maxlength: 16,
        regex: "^[a-z0-9]+$"
      }
    },
    messages: {
      firstName: {
        required: "Nhập tên",
        maxlength: "Tối da 50 ký tự",
      },
      lastName: {
        required: "Nhập họ và tên đệm",
        maxlength: "Tối da 20 ký tự",
      },
      email: {
        required: "Nhập email",
        email: "Email không đúng định dạng"
      },
      username: {
        required: "Nhập tên tài khoản",
        minlength: "Tối thiểu 5 ký tự",
        maxlength: "Tối đa 16 ký tự",
        regex: "Chỉ chứa các ký tự a-z và 0-9"
      },
      password: {
        required: "Nhập mật khẩu",
        maxlength: "Tối đa 16 ký tự",
        regex: "Chỉ chứa các ký tự a-z và 0-9"
      }
    }
  });

  $("#registerBtn").on("click", function () {
    // AJAX submit form
    if ($("#registerForm").valid()) {
      let formData = new FormData($("#registerForm")[0]);
      $.ajax({
        url: "/register",
        method: "post",
        data: formData,
        processData: false,
        contentType: false
      })
      .done(function (res) {
        toastr.success("Đăng ký thành công");
        $("#reg-errors").empty();
        $("#registerForm").trigger("reset");
      })
      .error(function (res) {
        console.log(res);
        // let errors = res.responseJSON;
        // if (errors === undefined) {
        //   toastr.error(res.responseText);
        // } else {
        //   let errString = "";
        //   errors.forEach(function (error) {
        //     errString += `<li>${error.message}</li>`;
        //     $("#reg-errors").append(errString);
        //     toastr.error("Kiểm tra lại các trường dữ liệu");
        //   });
        // }
      });
    }
  });
</script>